---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome">
  <section class="content">
    <h1>Welcome!</h1>
    <div class="row">
      <div>
        <p>
          Welcome to Chechu’s sorting visualiser! Here, you can see how
          different sorting algorithms work on a variety of customisable data
          sets, all in real-time. I’ve optimised my visualiser to run smoothly
          on all devices, and I’ve added a speed slider and an element selector
          to allow you to customise your experience. Plus, I’ve added a unique
          satisfying touch by incorporating sound, in the form of a frequency
          for each value.
        </p>
        <p>
          Whether you’re just curious, a beginner looking to understand the
          basics of sorting, or a more advanced user looking to compare the
          performance of different algorithms, my visualiser has something to
          offer you.
        </p>
      </div>
      <div class="img">
        <img src="/img/Visualiser.png" alt="Visualiser screenshot" />
      </div>
    </div>

    <div class="row">
      <div>
        <p>
          My visualiser will be including a range of popular sorting algorithms
          soon in time, while for the moment there is only selection sort and
          insertion sort, there's no limit other than imagination to which
          algorithms to include: Bubble sort, merge sort, quick sort, radix
          sort… All of them and more are going to get into this website soon!
        </p>
        <p>
          You can select the algorithm you want to see in action, choose how
          many elements you want to sort, shuffle it, and there you go! As the
          algorithm works, you’ll see the data being sorted in real time, making
          it easy to understand the steps involved.
        </p><p>
          You can also see the big O notation of each algorithm and compare it
          with an easy-to-understand table showing how many operations have been
          made in real time along with many other details.
        </p>
      </div>
      <div class="img-col">
        <div class="img">
          <img
            src="/img/BigONotationTable.png"
            alt="Big O Notation table screenshot"
          />
        </div>
        <div class="img">
          <img
            src="/img/OperationsTable.png"
            alt="Real-time Operations screenshot"
          />
        </div>
      </div>
    </div>

    <p>I hope you enjoy using my sorting algorithm visualiser.</p>
  </section>
</Layout>
<style lang="scss">
  h1 {
    width: auto;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2em;
    @media (max-width: 764px) {
      flex-direction: column;
    }

    .img {
        flex: 1 0 40%;
      width: 40%;
      height: 100%;
      position: relative;

      @media (max-width: 764px) {
        width: 100%;
      }
       img {
        width: 100%;
      object-fit:cover;
      
    }
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight: 900;
        opacity: 0.5;

        content: "Screenshot";
        text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
      }
    }

    .img-col {
      display: flex;
      flex-direction: column;
      flex: 1 0 40%;
      width: 40%;
      gap: 2em;
      .img {
        flex: 1 0 100%;
        width: 100%;
      }
      @media (max-width: 764px) {
        width: 100%;
      }
    }
  }
</style>
