---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Privacy policy">
    <section class="content">
<h2>Cookies & Privacy policy</h2>

				<div>
					<p>Last Updated: Jan 10 2023</p>

					<p>
						Thank you for visiting the Privacy Policy of ChechuDEV.
						This Privacy Policy explains how ChechuDEV (“ChechuDEV”,
						“I”, “me”, or “my”) collects, uses, and shares
						information about you (“you”, “yours” or “user”) when
						you access or use our websites (“Services”).
					</p>
					<p>
						Users are responsible for any third-party data they
						provide or share through the Services and confirm that
						they have the third-party's consent to provide such data
						to us.
					</p>

					<h3>Information I Collect</h3>

                    <p><strong>Contact information </strong>(ONLY when you contact me), such as:</p>
                    <ul><li>Email address</li>
                    <li>Username</li>
                    <li>First and last name</li>
                    <li>User profile photo</li>
                    </ul>
					<p>
						<strong>Log and Usage Information: </strong>such as
						browser type you use, hardware model, operating system,
						IP address, unique device identifiers, access times,
						pages viewed, links clicked, and browsing behavior such
						as time spent, what site you came from, what site you
						visit when you leave, and browsing behavior.
					</p>

					<h3>How I Use Your Information</h3>
					<p>
						I use information I collect about you to provide,
						maintain, and improve my Services and other interactions
						I have with you. For example, I use the information
						collected to:
					</p>
					<ul>
						<li>
							<p>Facilitate and improve online experience;</p>
						</li>
						<!--<li>
							<p>
								Provide and deliver products and services,
								perform authentication, process transactions and
								returns, and send you related information,
								including confirmations, receipts, invoices,
								customer experience surveys, and product or
								Services-related notices;
							</p>
						</li>-->
						<li>
							<p>Process and deliver promotions;</p>
						</li>
						<li>
							<p>
								Respond to your comments and questions and
								provide customer service;
							</p>
						</li>
						<li>
							<p>
								If you have indicated to us that you wish to
								receive notifications or promotional messages;
							</p>
						</li>
						<li>
							<p>
								Detect, investigate and prevent fraudulent
								transactions and other illegal activities and
								protect our rights and property and others;
							</p>
						</li>
						<li>
							<p>
								Comply with my legal and financial obligations;
							</p>
						</li>
						<li>
							<p>
								Monitor and analyze trends, usage, and
								activities;
							</p>
						</li>
						<li>
							<p>
								Provide and allow my partners to provide
								advertising and marketing targeted toward your
								interests.
							</p>
						</li>
					</ul>

					<h3>How I May Share Information</h3>
					<p>
						I may share your Personal Information in the following
						situations:
					</p>
					<ul>
						<li>
							<p>
								<strong>Third Party Services Providers. </strong
								>I may share data with service providers,
								vendors, contractors, or agents who complete
								transactions or perform services on my behalf,
								such as those that assist me with my business
								and internal operations like shipping and
								delivery, payment processing, fraud prevention,
								customer service, gift cards, experiences,
								personalization, marketing, and advertising;
							</p>
						</li>

						<li>
							<p>
								<strong>To Comply with Law. </strong>I may share
								data to facilitate legal process from lawful
								requests by public authorities, including to
								meet national security or law enforcement
								demands as permitted by law.
							</p>
						</li>
						<li>
							<p>
								<strong>With Your Consent. </strong>I may share
								data with third parties when I have your
								consent.
							</p>
						</li>
						<li>
							<p>
								<strong
									>With Advertising and Analytics Partners. </strong
								>See the section entitled “Advertising and
								Analytics” below.
							</p>
						</li>
					</ul>

					<h3>Google Analytics</h3>
					<p>
						I use Google Analytics, an analytics service provided by
						Google LLC. I use this service to help analyze how users
						use the Service, with a view to analyzing usage across
						devices and offering improvements for all users. To
						learn more about Google Analytics, please visit their
						<a
							href="https://support.google.com/analytics/answer/6004245#zippy=%2Cour-privacy-policy"
							>Privacy Policy</a
						>. To opt-out of this feature by installing the Google
						Analytics Opt-out Browser Add-on, please click
						<a href="https://tools.google.com/dlpage/gaoptout?hl=en"
							>here</a
						>.
					</p>

					<h3>Data Security</h3>
					<p>
						I implement commercially reasonable security measures
						designed to protect your information. Despite my best
						efforts, however, no security measures are completely
						impenetrable.
					</p>

					<h3>Data Retention</h3>
					<p>
						I store the information I collect about you for as long
						as necessary for the purpose(s) for which I collected it
						or for other legitimate business purposes, including to
						meet my legal, regulatory, or other compliance
						obligations.
					</p>

					<h3>EU Privacy Rights</h3>

					<p>
						Individuals located in certain countries, including the
						European Economic Area (EEA) and the United Kingdom,
						have certain statutory rights under the General Data
						Protection Regulation (GDPR) in relation to their
						personal data.
					</p>
					<p>
						To the extent information we collect is associated with
						an identified or identifiable natural person and is
						protected as personal data under GDPR, it is referred to
						in this Privacy Policy as “Personal Data”.
					</p>
					<p><strong>Data Subject Access Requests</strong></p>
					<p>
						Subject to any exemptions provided by law, you may have
						the right to request:
					</p>
					<ul>
						<li>
							<p>
								a copy of the Personal Data we hold about you;
							</p>
						</li>
						<li>
							<p>
								to correct the Personal Data we hold about you;
							</p>
						</li>
						<li>
							<p>to delete your Account or Personal Data;</p>
						</li>
						<li>
							<p>
								to object to processing of your Personal Data
								for certain purposes;
							</p>
						</li>
					</ul>

					<p>
						To access your privacy rights, send me an email at
						<a href="mailto:devchechu@gmail.com"
							>devchechu@gmail.com</a
						>.
					</p>
					<p>
						I will generally process requests within one month. I
						may need to request specific information from you to
						help me confirm your identity and/or the jurisdiction in
						which you reside. If your request is complicated or if
						you have made a large number of requests, it may take me
						longer. I will let you know if I need longer than one
						month to respond.
					</p>
					<p>
						<strong
							>Legal Bases For Processing Personal Data</strong
						>
					</p>
					<p>
						I may process your Personal Data under applicable data
						protection law on the following legal grounds:
					</p>
					<ul>
						<li>
							<p>
								<strong>Contractual Necessity: </strong>I may
								process your Personal Data to enter into or
								perform a contract with you.
							</p>
						</li>
						<li>
							<p>
								<strong>Consent: </strong>where you have
								provided consent to process your Personal Data.
								You may withdraw your consent at any time.
							</p>
						</li>
						<li>
							<p>
								<strong>Legitimate interest: </strong>I process
								your Personal Data to provide my Services to you
								such as to provide my online user experience,
								communicate with you, provide customer service,
								market, analyze and improve my business, and to
								protect my Services.
							</p>
						</li>
					</ul>

					<h3>Age Limitations</h3>
					<p>
						My Service is intended for adults ages 18 years and
						above. I do not knowingly collect personally
						identifiable information from children. If you are a
						parent or legal guardian and think your child under 13
						has given me information, please email or write to me at
						the address listed at the end of this Privacy Policy.
						Please mark your inquiries “COPPA Information Request.”
					</p>

					<h3>Changes to this Privacy Policy</h3>
					<p>
						ChechuDEV may change this Privacy Policy from time to
						time. I encourage you to visit this page to stay
						informed. If the changes are material, I may provide you
						additional notice through our Services. Your continued
						use of the Services indicates your acceptance of the
						modified Privacy Policy.
					</p>

					<h3>Storage of Information in the United States</h3>
					<p>
						Information I maintain may be stored both within and
						outside of the United States. If you live outside of the
						United States, you understand and agree that I may
						transfer your information to the United States, and that
						U.S. laws may not afford the same level of protection as
						those in your country.
					</p>

					<h3>Contact Me</h3>
					<p>
						If you have questions, comments, or concerns about this
						Privacy Policy, you may contact me at:
					</p>
					<ul>
						<li>
							<a href="../contact">https://chechu.dev/contact</a>
						</li>
						<li>
							<a href="mailto:devchechu@gmail.com"
								>devchechu@gmail.com</a
							>
						</li>
					</ul>
				</div>
    </section>
</Layout>


<style>
    body {
        counter-reset: h3counter;
    }
    h3:before {
        content: counter(h3counter) ".\0000a0\0000a0";
        counter-increment: h3counter;
    }
</style>