---
import type Complexity from "../components/visualiser/description/BigONotation.astro";
import Algorithm from "../layouts/Algorithm.astro";
const best:Complexity = {expression: "n^2", color: "red"};
const average:Complexity = {expression: "n^2", color: "red"};
const worst:Complexity = {expression: "n^2", color: "red"};
const space:Complexity = {expression: "1", color: "green"};
---

<Algorithm title="Selection Sort" best={best} average={average} worst={worst} space={space}>
<p>
	Selection Sort is a simple sorting algorithm that repeatedly selects the smallest element from the unsorted list and places it at the end of the sorted list. This process is repeated until all the elements are sorted.

</p>
<p>
Selection Sort has a time complexity of O(n²) which makes it inefficient for large data sets, but it is a simple algorithm to understand and implement.

</p>
</Algorithm>

<script src="../scripts/SelectionSort.ts"></script>
