---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of service">
  <section class="content">
    <h2>Terms of Service</h2>
    <p>Last Updated: Jan 10 2023</p>
    <p>
      Welcome to Sorting Algorithm Visualiser ("website" or "service"). By using
      the website, you agree to be bound by the following terms of service
      ("TOS"). If you do not agree to these TOS, you may not use the website.
    </p>
    <h3>Use of the Website</h3>
    <p>
      You are granted a non-exclusive, non-transferable, revocable license to
      access and use the website and its services in accordance with these TOS.
      As a condition of your use of the website, you warrant that you will not
      use the website for any purpose that is prohibited by these TOS. This is
      the grant of a license, not a transfer of title, and under this license
      you may not:
    </p>
    <ul>
      <li>modify or copy the materials;</li>
      <li>
        use the materials for any commercial purpose or for any public display;
      </li>
      <li>
        remove any copyright or other proprietary notations from the materials
      </li>
      <li>
        transferring the materials to another person or "mirror" the materials
        on any other server.
      </li>
    </ul>

    <h3>Content on the Website</h3>

    <p>
      The website may contain links to third-party websites, advertisers,
      services, special offers, or other events or activities that are not owned
      or controlled by the website. The website does not endorse or assume any
      responsibility for any such third-party sites, information, materials,
      products, or services. If you access a third-party website from the
      website, you do so at your own risk and you agree that the website will
      not be liable for any loss or damage caused by your use of or reliance on
      any third-party content, goods, or services available on or through such a
      website.
    </p>

    <h3>Disclaimer of Warranties</h3>
    <p>
      The website is provided on an "AS IS" and "AS AVAILABLE" basis without any
      representation or warranty, whether express, implied or statutory. Without
      limiting the generality of the foregoing, the website makes no
      representation or warranty of any kind, express or implied, regarding the
      completeness, accuracy, reliability, suitability or availability with
      respect to the website or the information, products, services, or related
      graphics contained on the website for any purpose. Any reliance you place
      on such information is therefore strictly at your own risk.
    </p>

    <h3>Revisions and Errata</h3>
    <p>
      The materials appearing on this website may include technical,
      typographical, or photographic errors. The service will not promise that any
      of the materials in this website are accurate, complete, or current.
      The service may change the materials contained on the website at any time
      without notice. The website does not make any commitment to update the
      materials.
    </p>
    <h3>Limitation of Liability</h3>
    <p>
      The website shall not be liable for any loss or damage, whether in
      contract, tort (including negligence), breach of statutory duty, or
      otherwise, even if foreseeable, arising under or in connection with:
    </p>
    <ul>
      <li>use of, or inability to use, the website;</li>

      <li>or use of or reliance on any content displayed on the website</li>
    </ul>

    <p>
      In no event shall the website be liable for any indirect, incidental,
      special, punitive damages or consequential damages of any kind whatsoever.
    </p>

    <h3>Indemnification</h3>
    <p>
      You agree to indemnify, defend and hold harmless the website, its
      affiliates, and their respective officers, agents, partners and employees,
      from any loss, liability, claim, or demand, including reasonable attorney
      fees, made by any third party due to or arising out of your use of the
      website in violation of these TOS and/or arising from a breach of these
      TOS and/or any breach of your representations and warranties set forth
      above.
    </p>
    <h3>Modification</h3>
    <p>
      The website reserves the right to modify the TOS from time to time without
      notice. Your continued use of the website following any such changes shall
      constitute your acceptance of the new TOS.
    </p>
    <h3>Governing Law</h3>
    <p>
      These TOS shall be governed by and construed in accordance with the laws
      of Spain, without giving effect to any principles of conflicts of
      law. You agree that any action at law or in equity arising out of or
      relating to these TOS shall be filed only in the courts
      located in Spain and you hereby consent and submit to the
      personal jurisdiction of such courts for the purposes of litigating any
      such action.
    </p>
    <h3>Contact Information</h3>
    <p>
      If you have any questions or concerns about the TOS, please contact me at
      devchechu@gmail.com.
    </p>

    <h3>Agreement</h3>
    <p>
      These TOS constitute the entire agreement between you and the website
      regarding the use of the website, superseding any prior agreements between
      you and the website.
    </p>
    <h3>Data Privacy</h3>
    <p>
      By using the website, you also agree to the website's Privacy Policy,
      which can be found at <a href="/privacy-policy"
        >https://algorithms.chechu.dev/privacy-policy</a
      >.
    </p>
  </section>
</Layout>

<style>
  body {
    counter-reset: h3counter;
  }
  h3:before {
    content: counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
  }
</style>
