---
import Controller from "./Controller.astro";
import Slider from "./Slider.astro";
import Stat from "./Stat.astro";
let ref:number = 1;
---

<div class="visualizer">
  <Slider name="element" max={80} min={0} value={0}/>
  <div id="alg-window" class="window"></div>
  <Controller/>
  <Slider name="speed" max={100} min={4} value={10}/>  

  <div class="stats">
    <Stat element="Operations" unit="ops." ref={ref++}/>
    <Stat element="Swaps" unit="ops." ref={ref++}/>
    <Stat element="Gets" unit="ops."/>
    <Stat element="Sets" unit="ops."/>
    <Stat element="Comparisons" unit="comp."/>
    <Stat element="Real Time" unit="ms"/>
    <Stat element="Visual Time" unit="sec"/>
    <Stat element="Ops per ms" unit="ops/ms"/>
    <Stat element="Comps per ms" unit="comp/ms"/>
  </div>
  <div class="info">
    <p><sup>[1]</sup> Sum of Swap, Get, Set and Comparison operations.</p>
    <p><sup>[2]</sup> Swap operations do not count as neither Get nor Set operations.</p>
  </div>
</div>


<style lang="scss" is:global>
  .visualizer {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    h3 {
        line-height: 1em;
        margin: 1em 0 .5em;
    }
  }

  .window {
    width: 500px;
    aspect-ratio: 1;
    border: 0.15rem solid white;
    border-radius: 0.2em;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media (max-width: 764px) {
        width: 100%;
    }

    .bar {
      width: var(--elements);
      height: var(--height);
      background-color: white;
    }
  }

  .stats {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 0;
    gap: 1em 0;
    padding: 2em 0 1em;
    @media (max-width: 764px) {
        width: 100%;
    }
  }
  .info {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 12px;
    sup {
        font-size: 10px;
    }

    @media (max-width: 764px) {
        width: 100%;
    }
  }


</style>
