---
import SortNavLink from "./SortNavLink.astro";

---

<nav>
    <ul>
        <SortNavLink href="/selection-sort">Selection Sort</SortNavLink>
    </ul>
</nav>

<style>
    nav ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.25em;

    margin: 0;
    padding: 0;
  }
</style>