---
import SortNavLink from "./SortNavLink.astro";

---

<nav>
    <ul>
        <SortNavLink href="/selection-sort">Selection Sort</SortNavLink>
        <SortNavLink href="/insertion-sort">Insertion Sort</SortNavLink>
        <SortNavLink href="/bubble-sort">Bubble Sort</SortNavLink>
        <SortNavLink href="/cocktail-sort">Cocktail Sort</SortNavLink>
        <SortNavLink href="/quick-sort">Quick Sort</SortNavLink>
    </ul>
</nav>

<style>
    nav ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.25em;

    margin: 0;
    padding: 0;
  }
</style>